li span {
	float: right;
}

.container {
	width: 60em;
    margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.m {
	margin: 0 auto;
}

.d-fr {
	display: flow-root;
}

.w25 {
	width: 25%
}

.w50 {
	width: 50%
}

.w75 {
	width: 75%
}

.author_header {
    display: block;
    padding: 6em 0 0 0;
}

.header p {
    margin: 1em;
}

.body h2 {
    margin: 2em 0 1em 0;
    text-align: center;
    text-indent: -10em;
}

.page {
	margin: 0 3em 0 0;
}

.page p {
	color: gray;
}

.page_num {
	text-align: center;
}