.left {
  float: left;
}

.right {
  float: right;
}

body {
  width: 50em;
  height: 30em;
  overflow: hidden;
  border: solid 2px;
  margin: 5em auto 0;
}

header {
  height: 5em;
  border-bottom: solid 2px;
}

header > p {
  float: left;
  font-size: 2em;
  font-weight: bold;
  margin: 16pt 0 0 1em;
  display: inline-block;
}

.profile {
  margin: 1em;
  height: 3em;
}

.profile img {
    width: 3em;
    height: 3em;
    border: solid 1px;
    border-radius: 100%;
    display: inline-block;
    background-color: #eee;
}

.profile p {
  float: right;
  font-size: 20pt;
  margin: 7pt 0 0 1em;
  display: inline-block;
}

.container {
  margin: 1em;
  height: 23em;
}

.option {
  width: 100%;
  border: solid 2px;
  padding: 0.5em 2em;
}

.option td {
  text-align: center;
}

.group {
  margin: 1em auto;
}

.group p {
  margin: 0 .5em;
  font-size: 20px;
  display: initial;
}

.table-box {
  width: 48em;
  height: 16.5em;
  display: grid;
  overflow: auto;
  border: solid 2px;
}

#table {
  border-collapse: collapse;
}

#table td {
  height: 2em;
  border: 1px solid #000;
}

/* Colors for title table. */
#table > tr:first-child > td {
  color: black;
  background-color: #eee;
}

footer {
  text-align: center;
  margin: 2em 0 0 0;
}
