p {
	margin: 0;
}

.container {
	display: flex;
	margin-top: 1em;
	text-align: center;
}

.box {
	margin-left: 2pt;
}

.box:hover {
	box-shadow: 0 0 3pt;
	-webkit-box-shadow: 0 0 3pt;	
}

.date {
	background-color: #0097b9;
	color: #ffff;
	font-size: 1.5em;
}

.temp {
	font-size: 1.5em;
}