.left {
	float: left;
}

.m {
	margin: 0 auto;
}

.container {
	width: 60em;
}

.title h3 {
    display: table;
	margin: 1em auto;
}

.table table {
	width: 100%;
}

.table td {
	text-align: start;
}

.form {
	display: inline-block;
}

.form h2 {
	text-align: center;
}

.form p {
	text-indent: 0.5em;
}

.form input {
	float: left;
}